/* import font families */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Protest+Riot&display=swap');

/* Families
Forms: font-family: 'Montserrat', sans-serif;
font-family: 'Protest Riot', sans-serif; */


body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

main {
  flex: 1 0 auto;
}

/* spacing / colors / fonts / margins  */
.text-center{
  text-align: center;
}

.text-riot{
  font-family: 'Protest Riot', sans-serif;
}

textarea{
  resize: none;
}

/* Forms  */


.forms{
  font-family: 'Montserrat', sans-serif;
}

.forms input{
  background-color: #856a50;
  color: #fafafa;
  border: 1px solid #fafafa;
  font-size: 1.2rem
}
.btn-submit{
  background-color: #856a50;
  color: #fafafa;
  text-decoration: none;
  border: 2px solid #000000;
  padding: 5px 10px;
  border-radius: 20px;
}

.btn-submit:hover{
  background-color: #fafafa;
  color: #856a50;
  border: 1px solid #856a50
}


/* navigation bar  */
#main-header{
  width:100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #856a50;
}
nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#logo{
  flex:0.3;
  cursor: pointer;
  font-size: 1.8em;
  text-decoration: none;
  color:#fafafa
}

#nav-bar{
  flex: 0.5;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nav-bar a{
  text-decoration: none;
  color: #fafafa;
  font-size: 1.2em;
}
#nav-bar a:hover{
  text-decoration: none;
  color: #a5d6a4;
}

/* footer  */
#main-footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #856a50;
  color: #fafafa;
}

#footer-brand{
  flex: 0.3
}

#social-links{
  flex: 0.6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

#social-linl a{
  text-decoration: none;
}

.social-link{
  color: #000000;
}

.social-link i{
  font-size: 1.8em;
  color: #fafafa;
}
.social-link i:hover{
  color:#a5d6a4
}

/* index.html */

#img-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-image{
  width:80%;
  margin:0 auto;
}

#btns-index{
  margin-top: 2vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2vh;
}
.btn-index, .userBtn{
  background-color: #856a50;
  color: #fafafa;
  text-decoration: none;
  border: 2px solid #000000;
  padding: 5px 10px;
  border-radius: 20px;
}

.btn-index:hover, .userBtn:hover{
  background-color: #fafafa;
  color: #856a50
}


/* admin.html */

.btn-admin{
  border: 1px solid #000000
}

#btns-admin{
  margin-top: 20%;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2vh;
}

.btn-admin{
  background-color: #422e49;
  color: #fafafa;
  text-decoration: none;
  border: 2px solid #000000;
  padding: 5px 10px;
  border-radius: 20px;
}

.btn-admin:hover{
  background-color: #fafafa;
  color: #422e49
}

#btn-admin, #btn-edit{
  background-color: #422e49;
  color: #fafafa;
  text-decoration: none;
  border: 2px solid #000000;
  padding: 5px 10px;
  border-radius: 20px;
}

#btn-edit:hover, #btn-admin:hover{
  background-color: #fafafa;
  color: #422e49
}

#btn-delete{
  background-color: #ee1010;
  color: #fafafa;
  text-decoration: none;
  border: 2px solid #fafafafa;
  padding: 5px 10px;
  border-radius: 20px;
}

#btn-delete:hover{
  background-color: #fafafa;
  color: #ee1010;
  border-color: #ee1010;
}

.btns-edit{
  margin-top: 2%;
}




/* pagination  */

.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}

.pagination{
  list-style: none;
  display: flex;
  flex-direction: row;
}
.pagination li {
    color: #007BFF;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    margin: 0 5px;
}

.pagination .current {
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    margin: 0 5px;
}

/* review page  */
.review-container{
  width: 75%;
  margin: auto;
  background-color: #aac8ee;
  border: 1px solid #000000;
  padding: 1% 2%;
}

#form-review #book{
  border: none;
}

#form-review{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}