<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7eb6fd173c.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
      type="text/css"
    />
    <title>Bookish Blaze</title>
  </head>

  <body>
    <header id="main-header">
      <!-- screen nav bar  -->
      <nav>
        <a a href="{{ url_for('index') }}" id="logo">Bookish Blaze</a>
        <ul id="nav-bar">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if session.user and session.user!='admin' %}
          <li>
            <a href="{{ url_for('profile', username = session['user']) }}"
              >Profile</a
            >
          </li>
          <li><a href="">New Review</a></li>
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          {% elif session.user == 'admin' %}
          <li><a href="">Add Book</a></li>
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Sign In</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </nav>

      <!-- mobile nav bar  -->
      <!-- <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">New Book</a></li>
        <li><a href="">New Review</a></li>
        <li><a href="">Log Out</a></li>
        <li><a href="">Sign In</a></li>
        <li><a href="">Register</a></li>
      </ul> -->
    </header>

    <main>
      <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <h4 class="text-center">{{message}}</h4>
        {% endfor %} {% endif %} {% endwith %}
      </section>
      {% block content %} {% endblock %}
    </main>

    <footer id="main-footer">
      <p id="footer-brand" class="text-center">2024, Bookish Blaze</p>
      <ul id="social-links">
        <li>
          <a
            href="https://www.facebook.com/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook"
          >
            <i class="fa-brands fa-square-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="twitter"
          >
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </footer>

    {% block scripts %} {% endblock %}
  </body>
</html>
