{% extends "books_template.html" %} {% block content %}
<h1 class="text-center">Sign In</h1>
<form action="{{ url_for('login')}}" method="POST" id="login-form">
  <table class="forms">
    <tbody>
      <!-- user field  -->
      <tr>
        <td>
          <label for="username">User: </label>
        </td>
        <td>
          <input type="text" name="username" id="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required />
        </td>
      </tr>
      <!-- password field -->
      <tr>
        <td>
          <label for="password">Password:</label>
        </td>
        <td>
          <input type="password" name="password" id="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required />
        </td>
      </tr>
      <!-- submit button  -->
      <tr>
        <td colspan="2" class="text-center">
          <input type="submit" value="Sign IN" class="btn-submit" />
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div>
  <p class="text-center">
    Are you a new reader?
    <a href="{{ url_for('register') }}" aria-label="Register a new user"> Register Here!</a>
  </p>
</div>
{% endblock %}
