{% extends "books_template.html" %} {% block content %}
<h1 class="text-center">New User</h1>
<form action="{{ url_for('register')}}" method="post" id="register-form">
  <table>
    <tbody>
      <!-- name field  -->
      <tr>
        <td>
          <label for="name">Name:</label>
        </td>
        <td>
          <input type="text" name="name" id="name" required />
        </td>
      </tr>
      <!-- email field  -->
      <tr>
        <td>
          <label for="email">Email: </label>
        </td>
        <td>
          <input type="email" name="email" id="email" required />
        </td>
      </tr>
      <!-- user field  -->
      <tr>
        <td>
          <label for="username">User: </label>
        </td>
        <td>
          <input
            type="text"
            name="username"
            id="username"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            required
          />
        </td>
      </tr>
      <!-- password field -->
      <tr>
        <td>
          <label for="password">Password:</label>
        </td>
        <td>
          <input
            type="password"
            name="password"
            id="password"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            required
          />
        </td>
      </tr>
      <!-- submit button  -->
      <tr>
        <td colspan="2">
          <input type="submit" value="Register" />
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div>
  <p id="message-validation"></p>
</div>
{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}
